*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B0D0D3;
    font-family: Arial, sans-serif;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5vh;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5vh;
}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1.5vh;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color:#C08497
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #7ddcff;
    color: #fff;
    border-radius: 1.5vh;
    border: none;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}