*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFCAD4;
    font-family: Arial, sans-serif;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5vh;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5vh;
}

.box{
    height: 18vh;
    width: 18vh;
}