h1{
    color: rgb(255, 170, 0);
    background-color: "aliceblue";
    font-family: cursive;
    font-size: 50px;
}

body{
    background-color: rgb(20, 20, 20);
}

button{
    color: rgb(255, 170, 0);
}

.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: small;
}

#box1{
    color: rgb(86, 86, 86);
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    text-align: center;
    margin:10%;
    outline: auto;
    outline-color:coral;
    padding-top: 4%;
}