*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: brown;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 100px;
    width: 100px;
}

img{
    height: 150px;
    width: 150px;
}